<template>
    <div class="col-xl-5 col-lg-5 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="buy-sell-widget">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                href="#buy">Buy</a>
                        </li>
                    </ul>
                    <div class="tab-content tab-content-default">
                        <div class="tab-pane fade show active" id="buy" role="tabpanel">
                            <exchange-form :btc_info="btc_info"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import ExchangeForm from "../forms/ExchangeForm";
    import CurrencyService from "../../services/currency-service";
    export default {
        name: "BuySellComponent",
        components: {ExchangeForm},
        data() {
            return {
                btc_info: []
            }
        },

        mounted() {
            let market = new CurrencyService();
            let marketData = market.market().then((result) => this.btc_info = JSON.parse(result));
        },
    }
</script>

<style scoped>

</style>
