<template>
    <div class="col-xl-12 col-lg-12 col-xxl-12">
        <div class="card">
            <div class="card-header border-0 py-0">
                <h4 class="card-title">Exchange</h4>
            </div>
            <div cfunctionlass="card-body">
                <div class="buy-sell-widget">
                    <exchange-form :btc_info="btc_info"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CurrencyService from '../../services/currency-service'
    import ExchangeForm from "../forms/ExchangeForm";
    export default {
        name: "ExchangeComponent",
        components: {ExchangeForm},
        data() {
            return {
                btc_info: []
            }
        },

        mounted() {
            let market = new CurrencyService();
            let marketData = market.market().then((result) => this.btc_info = JSON.parse(result));
        },

    }
</script>

<style scoped>

</style>
