<template>
    <div class="row">
        <div class="col-xl-4 col-sm-6 col-6" v-for="plan in plans" :key="plan.id"  @click.prevent="makeInvestment(plan)">
            <a href="#">
                <div class="chart-stat">
                    <p class="mb-1">{{ plan.name }} ({{ plan.duration }} day)</p>
                    <h5>${{ plan.min }} - ${{ plan.max}} ({{ plan.percentage }}%)</h5>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "InvestmentPlans",
        props: {
            plans: Array,
            user: Object,
            token: String
        },
        methods: {
            makeInvestment(plan) {
                Swal.fire({
                    title: "Invest Trade",
                    input: 'number',
                    inputPlaceholder: 'Amount',
                    showCancelButton: true,
                    confirmButtonText: 'Invest',
                    showLoaderOnConfirm: true,
                    preConfirm: (amount) => {
                        let formdata = new FormData();
                        formdata.set('amount', amount)
                        formdata.set('plan', plan.id)
                        formdata.set('user', this.user.id)
                        let resStatus = 200;
                        return fetch(`/api/investment/invest`,
                            {
                                method: "POST",
                                headers: {
                                    'Accept': 'application/json'
                                },
                                body: formdata
                            })
                            .then(async response => {
                                resStatus = response.status
                                if (!response.ok) {
                                    if (response.status === 422) {
                                        let message = await response.json();
                                        if (message.hasOwnProperty('errors')) {
                                            throw new Error(message.errors.amount[0])
                                        }
                                    }
                                    throw new Error(response.statusText)
                                }
                                return response.json()
                            })
                            .catch(error => {
                                console.log(error)
                                Swal.showValidationMessage(
                                    `${error}`
                                )
                            })
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        Swal.fire({
                                title: 'Successful!',
                                text: 'Trade invested successfully.',
                                type: 'success',
                                onClose: () => {
                                    location.reload()
                                }
                            }
                        )
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
