<template>
    <div :class="className">
    <div class="card">
        <div class="card-header border-0 py-0">
            <h4 class="card-title">Recent Activities</h4>
            <a href="#">View More </a>
        </div>
        <div class="card-body">
            <div class="transaction-table">
                <div class="table-responsive">
                    <table class="table mb-0 table-responsive-sm">
                        <tbody>
                        <tr v-for="transaction in transactions" :key="transaction.id">
                            <td><span class="buy-thumb" :class="(transaction.status === 'pending') ? 'bg-warning' : 'bg-success'"><i class="la" :class="transaction.status === 'pending' ? 'la-arrow-right' : 'la-arrow-up'"></i></span>
                            </td>
                            <td>
                                <span class="badge" :class="transaction.status === 'pending' ? 'badge-warning' : 'badge-success'">Buy</span>
                            </td>
                            <td>
                                <i class="cc BTC"></i> Bitcoin
                            </td>
                            <td :class="transaction.status === 'pending' ? 'text-warning' : 'text-success'">+{{ transaction.value }} BTC</td>
                            <td>+{{ transaction.amount }} USD</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "TransactionsComponent",
        props: {
            transactions: {
                type: Array,
                default() {
                    return [];
                }
            },
            className: {
                type: String,
                default() {
                    return "col-lg-6";
                }
            }
        }
    }
</script>

<style scoped>

</style>
