<template>
    <vue-qrcode :value="value" :width="200"/>
</template>

<script>
    import VueQrcode from 'vue-qrcode'
    export default {
        name: "QComponent",
        components: {
            VueQrcode
        },
        props: {
            value: String
        }
    }
</script>

<style scoped>

</style>
