<template>
    <section>
        <form @submit.prevent="exchange" class="currency_validate">
            <div class="form-group">
                <label class="mr-sm-2">Currency</label>
                <div class="input-group mb-3">
                    <select name='currency' class="form-control">
                        <option data-display="Bitcoin" value="bitcoin">Bitcoin</option>
                        <!--                                    <option value="litecoin">Litecoin</option>-->
                    </select>
                    <input type="text" name="usd_amount" class="form-control"
                           value="1 BTC" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="mr-sm-2">Payment Method</label>
                <div class="input-group mb-3">
                    <select name='currency' class="form-control">
                        <option data-display="USD" value="usd">USD</option>
                        <!--                                    <option value="litecoin">Litecoin</option>-->
                    </select>
                    <input type="text" name="usd_amount" class="form-control"
                           :value="btcPrice+ ' USD'" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="mr-sm-2">Enter your amount</label>
                <div class="input-group">
                    <input type="number" name="usd_amount" class="form-control"
                           placeholder="Amount" v-model="amount" min="0">
                    <input type="text" name="currency_amount" class="form-control"
                           v-model="volume" placeholder="BTC" disabled>
                </div>
            </div>
            <button type="submit" name="submit" class="btn btn-success btn-block">
                <span class="block row justify-content-center diamond" v-if="loading">
                    <diamond :color="'#fff'"/>
                </span>
                <span class="block row justify-content-center diamond" v-else>
                    Exchange Now
                </span>
            </button>

        </form>

        <modal name="trade-modal">
            <div class="container">
                <div class="col-md-12 p-8">
                    <div class="row justify-content-center p-8">
                        <div class="col-xl-9 col-md-8" v-if="purchase">
                            <p>Pay ( {{ purchase.value }} BTC ) to the given wallet address</p>
                            <div class="row justify-content-center text-center">
                                <q-component :value="'1FrVPiGSKQSfFvcm2zQkMRNhBT9aRzDAHL'"/>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3"><i class="la la-itunes-note"></i></span>
                                </div>
                                <input type="text" value="1FHAXVP1CCL67bbHJdoUmVWmV2TG9YzmjK" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </section>
</template>

<script>
    import Diamond from 'vue-loading-spinner/src/components/Diamond'
    import QComponent from "../QComponent";
    export default {
        name: "ExchangeForm",
        data() {
            return {
                amount: '',
                volume: 0,
                purchase: null,
                loading: false
            }
        },
        components: {
            QComponent,
            Diamond
        },

        props: {
            btc_info: {
                type: Array,
                default() {
                    return [];
                }
            }
        },


        watch: {
            amount(value) {
                if (value !== '') {
                    this.calculateBtcPrice(parseFloat(value))
                }
                else {
                    this.calculateBtcPrice(0)
                }
            }
        },
        computed: {
            btcPrice() {
                if (this.btc_info.length) return Math.round(this.btc_info[0].price)
                return 9500;
            }
        },
        methods: {
            calculateBtcPrice(value) {
                let volume = value / this.btcPrice;
                this.volume = parseFloat(volume.toFixed(8))
            },

            exchange() {
                if(this.volume > 0) {
                    this.loading = true;
                    // create a transaction and display modal
                    axios.post('/transactions/create', {
                        amount: parseFloat(this.amount),
                        volume: this.volume
                    }).then(({ data }) => {
                        this.purchase = data;
                        this.$swal({
                            text: "You have initiated a trade!",
                            icon: "success",
                            button: "continue",
                        }).then((value) => {
                            this.loading = false
                            this.$modal.show('trade-modal');
                        }).catch((error) => {
                            this.loading = false;
                            this.$swal({
                                text: "An error has occurred",
                                icon: "error",
                                button: "Try Again",
                            })
                        });

                    })
                        .catch((error) => console.error(error));
                }
            }
        }


    }
</script>

<style scoped>

</style>
